{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}


{% block page -%}
    <h1>Редактировать тест</h1>

    {{ form(edit_form) }}

        <a href="{{ path('test') }}">
            К сипску тестов
        </a>
    {{ form(delete_form) }}

{% endblock %}
