{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}


{% block page -%}
    <h1>Доступные тесты</h1>

        {% for entity in entities %}
            {{ entity.title }}
            <a class="btn btn-primary" href="{{ path('test_show', { 'id': entity.id }) }}">Показать</a>
            <a class="btn btn-primary" href="{{ path('test_edit', { 'id': entity.id }) }}">Редактировать</a>
        {% endfor %}
    <br />
    <div class="clearfix"></div>
    <a class="btn btn-primary" href="{{ path('test_new') }}">Создать тест</a>
{% endblock %}