{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}


{% block page -%}
    <h1>Создание теста</h1>



    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('test') }}">
            К списку тестов
        </a>
    </li>
</ul>
{% endblock %}
