{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}


{% block page -%}

    <h1>{{ entity.title }}</h1>
    
    <a class="btn btn-default" href="{{ path('test') }}">К сиписку тестов</a>
    <a class="btn btn-primary" href="{{ path('test_edit', { 'id': entity.id }) }}">Редактировать</a>
    
    {{ form(delete_form) }}
</ul>
{% endblock %}
