{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}

{% block page -%}
    <h1>Составить индивидуальное задание</h1>

    <form method="POST" action="{{ path('task_create') }}">
        {{ form_widget(form) }}
        <br />
        <button type="submit" class="btn btn-success">Создать</button>
    </form>

    <a class="btn btn-primary" href="{{ path('task') }}">
        К списку
    </a>
{% endblock %}
