{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}

{% block page -%}
    <h1>Составить индивидуальное задание</h1>

    {{ form(form) }}

    <a class="btn btn-primary" href="{{ path('task') }}">
        К списку
    </a>
{% endblock %}
