{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}

{% block page -%}
    <form method="POST" action="{{ path('question_edit', {'id': entity.id}) }}">
        {{ form_widget(edit_form) }}

        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
    <a class="btn btn-primary" href="{{ path('test_show', {id: entity.test.id}) }}">К тесту</a>
{% endblock %}
