{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}

{% block page -%}

    {{ entity.questionText }}

    <a class="btn btn-primary" href="{{ path('question_edit', { 'id': entity.id }) }}">
        Редактировать
    </a>

{% endblock %}
