{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}


{% block page -%}

    <h1>Добавить тэг</h1>

    {{ form(form) }}

    <a class="btn btn-primary" href="{{ path('tag') }}">
        К списку
    </a>

{% endblock %}
