{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}


{% block page -%}

    <h1>Добавление статьи</h1>

    {{form(form) }}
    <a class="btn btn-primary" href="{{ path('post') }}">
        К списку статей
    </a>
{% endblock %}
