{% extends 'DiplomaBackOfficeBundle::layout.html.twig' %}


{% block page -%}
    <h1>Добавдение варианта ответа</h1>

    <form action="{{ path('variant_create') }}" method="POST">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>

    <a href="{{ path('test_show', {'id': testId}) }}">К тесту</a>
{% endblock %}
