{% extends '::base.html.twig' %}
{% block menu %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="#">ВычМат, лашара!</a>
            {{ knp_menu_render('DiplomaBackOfficeBundle:Builder:topMenu', {'currentClass': 'active', 'template': 'DiplomaBackOfficeBundle:Menu:knp_menu.html.twig'}) }}
            {{ knp_menu_render('DiplomaBackOfficeBundle:Builder:userMenu', {'currentClass': 'active', 'template': 'DiplomaBackOfficeBundle:Menu:knp_menu.html.twig'}) }}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="content" style="margin-top: 60px;">
            {% block page %}{% endblock %}
        </div>
    </div>
{% endblock %}